@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.book-header h1 {
    display: none;
}

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}


/*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Muli', sans-serif;
}

.title, h1, h2, h3, h4 {
  font-family: 'Muli', sans-serif;
  color: inherit;
    padding: 1em;
    margin: 1em 0;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 15px center;

    border: solid 3px #f36619;
    border-radius: 35px;
}

.title {
  font-size: 3em !important;
 }

.subtitle {
  font-family: 'Prata', serif;
  color: #ff9257;
}

/*--- LOGO ---*/

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important; 
}

/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #ffab7d;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: #ff803b; /* darker color when hovering */
text-decoration: none;
}

/*-----Images--------*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* HERO IMAGE */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 390px;
}

.hero-image {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.page-inner {
  padding-top: 400px !important;
}


/* -----------Sidebar div tips------------- */
/* from r-pkgs.org*/

div.definition {
    padding: 0em;
    margin: 1em 0;
    padding-left: 20px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    border-left: 8px solid  #ff5a00;
    min-height: 100px;
}

div.example {
    padding: 0em;
    margin: 1em 0;
    padding-left: 20px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    border-left: 4px solid  black;
    min-height: 50px;
}

div.lemma, div.proposition, div.theorem, div.corollary {
    padding: 1em;
    margin: 1em 0;
    padding-left: 20px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 80px;
    border: solid 2px #ff5a00;
  }

span.lemma, span.proposition, span.theorem, span.corollary {
    color: #ff5a00;
}


/*------------ TOC --------------*/

.book .book-summary {
  background: white;
  border-right: none;
}

.summary{
font-family: 'Muli', sans-serif;
}


  /* all TOC list items, basically */

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffac80;
}

.summary a:hover {
  color: #ff5a00 !important;
}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #ff5a00 !important;
  border-left: solid 4px;
  border-color: black;
  padding-left: 11px !important;
}
